<body class="unique">
<h1 style="color: snow">Library Room Booking Application</h1>
<%= link_to '<button type="button" style="width:250px; height: 50px">Admin Login</button>'.html_safe, '/admin_ui' %>
<%= link_to '<button type="button" style="width:250px;height: 50px">Member Login</button>'.html_safe, '/user_login' %>
</body>