<%= form_for(bookinghistory) do |f| %>
  <% if bookinghistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookinghistory.errors.count, "error") %> prohibited this bookinghistory from being saved:</h2>

      <ul>
      <% bookinghistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
